// Navigation Styles here

.title-link{
    width:100%;
    margin:1.5% auto;
    display:flex;
  h1{
    margin:auto 25%;
  }//This marks the end of h1
  nav{
    margin:auto;
    margin-right:25%;
    font-size:1.8rem;
    a{
      text-decoration: none;
      color:@font-color;
    }//This marks the end of the a link
  }//This marks the end of the nav
}//This marks the end of the title link